*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
}
.wrap{
    width: 600px;
    position: relative;
    overflow: hidden;
    margin: 20px auto 0;
}
.list{
    width:100%;
    display: flex;
    li{
        flex-shrink: 0;
        width: 100%;
        img{
            width: 100%;
            display: block;
        }
    }
}
.box{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 99;
    img{
        display: block;
    }
}
.pagebox{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    .page{
        height: 100%;
        display: flex;
        li{
            width: 20px;
            height: 100%;
            margin-left:10px;
            background: #fff;
            text-align: center;
            line-height: 20px;
            font-size: 14px;
            &.active{
                background: palevioletred;
                color: #fff;
            } 
        }
    }
}